<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Букет столицы</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><%- criticalStyle %></style>
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
    <link rel="icon" href="/images/ico.ico" type="image/x-icon">
</head>
<body>
<div class="wrapper">
    <div class="sections">
        <header class="header">
            <div class="header__group header__top">
                <a href="" class="header__logo">
                    <img src="/images/logo.png" alt="Букет столицы">
                </a>
                <section class="header__title">
                    <h1 class="header__type">
                        Букеты цветов
                        <span class="header__title-count">(567)</span>
                    </h1>
                </section>
                <div class="pn-ProductNav_Wrapper">
                    <nav id="pnProductNav" class="pn-ProductNav">
                        <div id="pnProductNavContents" class="pn-ProductNav_Contents">
                            <a href="#1" class="pn-ProductNav_Link">Цветочные композиции</a>
                            <span class="braker"></span>
                            <a href="#1" class="pn-ProductNav_Link">Комнатные растения</a>
                            <span class="braker"></span>
                            <a href="#1" class="pn-ProductNav_Link">Мягкие игрушки</a>
                            <span class="braker"></span>
                            <a href="#1" class="pn-ProductNav_Link">Открытки</a>
                            <!--<span class="braker"></span>-->
                            <span id="pnIndicator" class="pn-ProductNav_Indicator"></span>
                        </div>
                    </nav>
                    <button id="pnAdvancerLeft" class="pn-Advancer pn-Advancer_Left" type="button">
                        <svg class="pn-Advancer_Icon" viewBox="0 0 536 949" version="1.1"
                             xmlns="http://www.w3.org/2000/svg">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-319.000000, -3779.000000)">
                                    <g transform="translate(174.000000, 3660.000000)">
                                        <polygon fill="#000000" fill-rule="nonzero"
                                                 points="146.47 594 594.44 1067.817 680.297 986.644 270.697 553.414 270.697 634.586 680.297 201.356 594.44 120.18"></polygon>
                                        <polygon fill="#fff"
                                                 transform="translate(306.655559, 338.786253) rotate(-163.900000) translate(-306.655559, -338.786253) "
                                                 points="390.247813 49.0725213 521.341071 505.192641 91.9700467 628.499983"></polygon>
                                        <polygon fill="#fff"
                                                 transform="translate(346.103713, 899.728764) rotate(-251.000000) translate(-346.103713, -899.728764) "
                                                 points="424.497145 610.991437 570.028542 1034.40479 122.178884 1188.46609"></polygon>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <button id="pnAdvancerRight" class="pn-Advancer pn-Advancer_Right" type="button">
                        <svg class="pn-Advancer_Icon" viewBox="0 0 536 950" version="1.1"
                             xmlns="http://www.w3.org/2000/svg">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-306.000000, -3791.000000)">
                                    <g transform="translate(640.687500, 4256.609375) rotate(-180.000000) translate(-640.687500, -4256.609375) translate(294.187500, 3653.609375)">
                                        <polygon fill="#000000" fill-rule="nonzero"
                                                 points="146.47 594 594.44 1067.817 680.297 986.644 270.697 553.414 270.697 634.586 680.297 201.356 594.44 120.18"></polygon>
                                        <polygon fill="#fff"
                                                 transform="translate(306.655559, 338.786253) rotate(-163.900000) translate(-306.655559, -338.786253) "
                                                 points="390.247813 49.0725213 521.341071 505.192641 91.9700467 628.499983"></polygon>
                                        <polygon fill="#fff"
                                                 transform="translate(346.103713, 899.728764) rotate(-251.000000) translate(-346.103713, -899.728764) "
                                                 points="424.497145 610.991437 570.028542 1034.40479 122.178884 1188.46609"></polygon>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <nav class="header__group spec">
                <div class="spec__wrap">
                    <a href="" class="spec__choose">Акции</a>
                    <a href="" class="spec__choose">Розы</a>
                    <a href="" class="spec__choose">Конусы</a>
                    <a href="" class="spec__choose">Бизнес букеты</a>
                </div>
            </nav>
        </header>
        <section id="content" class="content">
            <div class="filter">
                <select class="filter__field">
                    <option value="1">до 30 см</option>
                </select>
                <select class="filter__field">
                    <option value="1">от 3000 руб</option>
                </select>
                <select class="filter__field">
                    <option value="1">по популярности</option>
                </select>
            </div>
            <div class="content__products">
                <article class="product">
                    <aside class="product__photo">
                        <img src="/images/product-photo.png" alt="Сладкие сны"/>
                    </aside>
                    <aside class="product__description meta">
                        <div class="meta__title">Сладкие сны</div>
                        <ul class="stars">
                            <li class="stars__item"></li>
                            <li class="stars__item active"></li>
                            <li class="stars__item"></li>
                            <li class="stars__item"></li>
                            <li class="stars__item"></li>
                        </ul>
                        <a class="meta__review" href="">34 отзыва</a>
                        <p class="meta__info">
                            Букет № 3478 <br>
                            Ширина: 30 см. <br>
                            Высота: 25 см.
                        </p>
                        <h3 class="meta__old-price">
                        <span class="strikeout">
                            2500
                        </span>
                            ₽
                        </h3>
                        <button class="meta__add" type="button">1&thinsp;500&thinsp;₽</button>
                        <p class="meta__advantages">
                            Цена с доставкой и <br>
                            подарочной открыткой!
                        </p>

                    </aside>
                </article>
                <article class="product">
                    <aside class="product__photo">
                        <img src="/images/product-photo.png" alt="Сладкие сны"/>
                    </aside>
                    <aside class="product__description meta">
                        <div class="meta__title">Сладкие сны</div>
                        <ul class="stars">
                            <li class="stars__item"></li>
                            <li class="stars__item active"></li>
                            <li class="stars__item"></li>
                            <li class="stars__item"></li>
                            <li class="stars__item"></li>
                        </ul>
                        <a class="meta__review" href="">34 отзыва</a>
                        <p class="meta__info">
                            Букет № 3478 <br>
                            Ширина: 30 см. <br>
                            Высота: 25 см.
                        </p>
                        <h3 class="meta__old-price">
                        <span class="strikeout">
                            2500
                        </span>
                            ₽
                        </h3>
                        <button class="meta__add" type="button">1&thinsp;500&thinsp;₽</button>
                        <p class="meta__advantages">
                            Цена с доставкой и <br>
                            подарочной открыткой!
                        </p>

                    </aside>
                </article>
                <article class="product">
                    <aside class="product__photo">
                        <img src="/images/product-photo.png" alt="Сладкие сны"/>
                    </aside>
                    <aside class="product__description meta">
                        <div class="meta__title">Сладкие сны</div>
                        <ul class="stars">
                            <li class="stars__item"></li>
                            <li class="stars__item active"></li>
                            <li class="stars__item"></li>
                            <li class="stars__item"></li>
                            <li class="stars__item"></li>
                        </ul>
                        <a class="meta__review" href="">34 отзыва</a>
                        <p class="meta__info">
                            Букет № 3478 <br>
                            Ширина: 30 см. <br>
                            Высота: 25 см.
                        </p>
                        <h3 class="meta__old-price">
                        <span class="strikeout">
                            2500
                        </span>
                            ₽
                        </h3>
                        <button class="meta__add" type="button">1&thinsp;500&thinsp;₽</button>
                        <p class="meta__advantages">
                            Цена с доставкой и <br>
                            подарочной открыткой!
                        </p>

                    </aside>
                </article>
            </div>
        </section>
        <footer class="footer">
            <section class="footer__status status">
                <div class="status__item">
                    <div class="status__row">Ваша корзина:</div>
                    <div class="status__row">
                        В корзинe 1 товар<br>
                        на сумму 2920 руб.
                    </div>
                    <a href="" class="status__link">Оформить заказ</a>
                </div>
                <div class="status__item">
                    <div class="status__row">Ваш менеджер:</div>
                    <div class="status__manager">
                        <div class="status__manager-photo">
                            <img src="/images/manager.png" alt="Жуков Дмитрий">
                        </div>
                        <div class="status__desc">
                            <div class="status__row">Жуков <br> Дмитрий</div>
                            <a class="status__questen">Задать вопрос</a>
                        </div>
                    </div>
                </div>
                <div class="status__item">
                    <div class="status__row">Место доставки:</div>
                    <div class="status__row">
                        <a href="" class="status__link">Казань</a>
                    </div>
                    <div>
                        Ближайшее время <br>
                        доставки в 14:40
                    </div>

                </div>
            </section>

            <section class="footer__contacts contacts">
                <a href="" class="contacts__link">О компании</a>
                <a href="" class="contacts__link">Бонусы</a>
                <a href="" class="contacts__link">Оплата</a>
                <a href="" class="contacts__link">Доставка</a>
                <a href="" class="contacts__link">Корпоративным клиентам</a>
                <a href="" class="contacts__link">Доставка по России</a>
                <br>
                <a href="" class="contacts__link">Гарантия качества</a>
                <a href="" class="contacts__link">Адреса магазинов</a>
                <a href="" class="contacts__link">Адреса магазинов</a>
                <a href="" class="contacts__link">Способы оплаты</a>
            </section>

            <section class="footer__static">
                <div class="footer__about about">
                    <div class="about__copy">Copyright © 2001-2017, «ВЕЖАРИ»</div>
                    <a href="" class="about__contact">МА «Жуков и Архангельский»</a>
                </div>
                <nav class="footer__social social">
                    <a class="social__item social__fb" href="https://www.facebook.com/">facebook.com/</a>
                    <a class="social__item social__vk" href="https://vk.com">vk.com</a>
                    <a class="social__item social__yt" href="https://www.youtube.com">youtube.com</a>
                    <a class="social__item social__in" href="https://www.instagram.com/">instagram.com/</a>
                </nav>
            </section>
        </footer>
    </div>
    <section id="sidebar" class="sidebar">
        <a href="" class="sidebar__logo">
            <img src="/images/logo.png" alt="Букет столицы">
        </a>
        <div class="field">
            <div class="field__label">Место доставки:</div>
            <div class="field__select">
                <a href="" class="field__link">Казань</a>
            </div>
        </div>
        <div class="sidebar__panel panel">
            <div class="panel__title">
                Вы выбрали:
            </div>
            <div class="basket">
                <div class="basket__demo">
                    <img src="/images/products-demo.png" alt="Букет №0456">
                </div>
                <div class="basket__info">
                    <div class="basket__name">Букет №0456</div>
                    <div class="basket__price">1&thinsp;450&nbsp;₽</div>
                    <a class="basket__clean-this" href="#">Убрать из корзины</a>
                </div>
            </div>
            <button class="basket__button">Оформите заказ</button>
            <div class="basket__desc">
                Ближайшее время <br>
                доставки в 14:40
            </div>
        </div>
        <div class="sidebar__panel panel">
            <div class="panel__title">
                Ваш менеджер:
            </div>

            <div class="manager">
                <div class="manager__photo">
                    <img src="/images/manager.png" alt="Дмитрий Жуков">
                </div>
                <div class="manager__info">
                    <div class="manager__status">на связи</div>
                    <div class="manager__name">
                        Дмитрий <br>
                        Жуков
                    </div>
                </div>
            </div>

            <a href="" class="sidebar__link-button">Задать вопрос</a>
        </div>

        <nav class="sidebar__nav sidebar-menu">
            <a href="" class="sidebar-menu__item">О компании</a>
            <a href="" class="sidebar-menu__item">Бонусы</a>
            <a href="" class="sidebar-menu__item">Оплата</a>
            <a href="" class="sidebar-menu__item">Доставка</a>
            <a href="" class="sidebar-menu__item">Корпоративным клиентам</a>
            <a href="" class="sidebar-menu__item">Доставка по России</a>
            <a href="" class="sidebar-menu__item">Гарантия качества</a>
            <a href="" class="sidebar-menu__item">Адреса магазинов</a>
            <a href="" class="sidebar-menu__item">Способы оплаты</a>
        </nav>
    </section>
</div>
<div class="product-info" style="display: none">
    <div class="product-info__wrapper">
        <div class="product-info__header">
            <h1 class="product-info__title">Ваш заказ</h1>
            <a href="#close" class="product-info__close">close</a>
        </div>
        <div class="product-info__view">
            <div class="product-info__demo">
                <img class="product-info__photo" src="/images/product-full.jpg" alt="Букет «сладкие сны»">
                <div class="product-info__meta meta">
                    <div class="meta__title">Сладкие сны</div>
                    <ul class="stars">
                        <li class="stars__item"></li>
                        <li class="stars__item active"></li>
                        <li class="stars__item"></li>
                        <li class="stars__item"></li>
                        <li class="stars__item"></li>
                    </ul>
                    <a class="meta__review" href="">34 отзыва</a>
                    <p class="meta__info">
                        Букет № 3478 <br>
                        Ширина: 30 см. <br>
                        Высота: 25 см.
                    </p>
                    <h3 class="meta__old-price">
                        <span class="strikeout">
                            2500
                        </span>
                        ₽
                    </h3>
                    <button class="meta__add" type="button">1&thinsp;500&thinsp;₽</button>
                    <p class="meta__advantages">
                        Цена с доставкой и <br>
                        подарочной открыткой!
                    </p>
                </div>
            </div>
            <div class="product-info__shadow"></div>
            <div class="product-info__content">
                <nav class="tabs">
                    <a href="" class="tabs__item active">Описание</a>
                    <a href="" class="tabs__item">Состав</a>
                </nav>
                <p class="product-info__buket">
                    Яркий букет из сотен ромашек для создания особенного, весеннего настроения. Это букет порадует
                    романтичную особу и придаст ваше встрече незабываемую атмосферу свежести и свободы. Яркий букет из
                    сотен ромашек для создания особенного, весеннего настроения. Это букет порадует романтичную особу и
                    придаст ваше встрече незабываемую атмосферу свежести и свободы.
                </p>
                <div class="product-info__sub-title">Закажите с этим букетом</div>
                <section class="associated">
                    <div class="associated__item">
                        <img class="associated__photo" src="/images/rabbit.jpg" alt="rabbit">
                    </div>
                    <div class="associated__meta  meta">
                        <div class="meta__title">Заяц №576</div>
                        <ul class="stars">
                            <li class="stars__item"></li>
                            <li class="stars__item active"></li>
                            <li class="stars__item"></li>
                            <li class="stars__item"></li>
                            <li class="stars__item"></li>
                        </ul>
                        <p class="meta__info">
                            Букет № 3478 <br>
                            Ширина: 30 см. <br>
                            Высота: 25 см.
                        </p>

                        <button class="meta__add" type="button">1&thinsp;500&thinsp;₽</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script defer src="/scripts.js?<%- version %>"></script>
</body>
</html>
